* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black : #0b0c10;
    --white : #ffffff;
    --darkgray : #a9a9a9;
    --lightgray : #a9a9a9c0;
    --darkblue : #00008b;
    --lightblue : #f0f8ff;
    --blue : #0080c8;
    --yellow : #f9b900;
    --lightyellow : #f9bb00c9;
    --orange : #ff6f00;
    --lightorange : #ff6f00e1;
    --darkgreen : #006400;
    --lightgreen : #4caf50;
    --red : #ff0000;
    --lightred : rgba(255, 0, 0, 0.904);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'poppins',sans-serif;
    background-color: var(--lightblue);
}

/* index.html */

.txt {
    color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    user-select: none;
    animation: glow 1s ease infinite;
}

@keyframes glow {
    from {
        color: var(--yellow);
    }
    to {
        color: var(--orange);
        text-shadow: 0 0 5px purple,
                     0 0 25px purple,
                     0 0 50px purple,
                     0 0 100px purple;
    }
}

.loader {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 10%;
    margin-left: 45%;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--blue) transparent var(--blue) transparent;
    animation: spin 1.5s linear infinite;
    position: relative;
}

@keyframes spin {
    to {
        transform : rotate(360deg);
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.btn a {
    margin-top: 60px;
}

.btn a button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 7%;
    margin-top: 5%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--yellow);
}

.btn button:hover {
    background-color: #f8ba00e7;
}

.btn a button {
    text-decoration: none;
    color: var(--black);
}

/* adminlogin.html */

.container {
    width: 500px;
    height: 300px;
    flex-direction: column;
    border: 1px solid var(--black);
    border-radius: 5%;
    box-shadow: 0 0 0 3px var(--lightgray);
}

.heading {
    font-size: 25px;
    user-select: none;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0 40px;
}

.txtbox label {
    font-size: 17px;
    padding: 10px;
}

.txtbox input {
    width: 150px;
    height: 30px;
    border: 1px solid var(--black);
    border-radius: 3px;
    font-size: 18px;
}

.adminlog {
    padding: 20px;
    margin: 30px;
}

.adminlog input {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--darkgreen);
    font-size: 15px;
    cursor: pointer;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 600px;
}

.adminlog input:hover {
    background-color: var(--lightgreen);
    color: var(--black);
}

.alert {
    width: 220px;
    height: 25px;
    padding: 5px;
    margin: 20px;
    color: var(--orange);
    background-color: var(--lightblue);
}

/* adminhome.html */

.nav-bar {
    width: 100vw;
    height: 60px;
    top: 0;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.nav-bar label {
    padding-top: 15px;
    margin-right: 80%;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: var(--black);
    user-select: none;
}

.nav-bar button {
    width: 6%;
    height: 50%;
    margin-top: 15px;
    border: none;
    border-radius: 5%;
    background-color: var(--yellow);
    cursor: pointer;
    text-transform: capitalize;
}

.nav-bar button:hover {
    background-color: #e9b20ee0;
}

.nav-bar button a {
    font-size: 15px;
    text-decoration: none;
    color: var(--darkblue);
    user-select: none;
}

.side-bar {
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: var(--blue);
    position: fixed;
}

.box1 {
    padding-top: 80px;
    margin-left: 30px;
}

.box1 ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.box1 ul li {
    padding: 20px 0px 20px 0px;
}

.box1 ul li a {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid;
    border-radius: 7%;
    text-decoration: none;
    color: var(--white);
    text-transform: capitalize;
    user-select: none;
}

.box1 ul li a:hover {
    background-color: var(--darkgray);
    color: var(--black);
}

.content {
    margin-left: 250px;
    padding-top: 300px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: var(--black);
}

.msg .alert {
    width: 30%;
    margin-left: 35%;
}

/* addbus.html */   /* busroutes.html */    /* deletebus.html */    /* overallcollection.html */    /* routedetails.html */    /* todaycollection.html */    /* updatebus1.html */    /* updatebus2.html */    /* viewbusroutes.html */    

.add, .msg {                      
    margin-left: 250px;
    padding-top: 70px;
}

.header {                  
    padding: 20px;
    margin-left: 380px;
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
    user-select: none;
}

.btn-addbus {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.btn-addbus a {
    width: 16%;
    margin-top: 5%;
    margin-left: 40%;
}

.btn-addbus a button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 95%;
    text-transform: capitalize;
    background-color: var(--darkgray);
    color: var(--darkblue);
    font-weight: 600;
}

.btn-addbus button:hover {
    background-color: var(--lightgray);
    color: var(--black);
}

/* busroutes.html */    /* routedetails.html */

.busdetail {
    padding: 20px;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}

.btn-sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sub input[type="submit"] {
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--orange);
    color: var(--black);
    cursor: pointer;
    user-select: none;
}

.btn-sub input[type="submit"]:hover {
    background-color: var(--lightorange);
    color: var(--white);
}

.btn-sub a {
    width: 5%;
    height: 3%;
    margin-left: 5%;
    margin-top: 3%;
    padding: 0.7%;
    font-size: 18px;
    text-decoration: none;
    color: var(--darkblue);
    font-weight: 500;
    text-transform: capitalize;
}

.add input[type="text"],.add input[type="number"] {
    width: 300px;
    height: 25px;
    padding: 10px;
    display: flex;
    border: 0.9px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
}

.BusRoute-field, .BusRoute_No-field {
    text-transform: uppercase;
}

.From-field, .To-field, .Source_location-field, .Destination_location-field {
    text-transform: capitalize;
}

/* updatebus1.html */

.search-btn input[type="submit"] {
    width: 6%;
    padding: 5px;
    margin-left: 30%;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* updatebus2.html */

.tab1 {
    margin-left: 0.5vw;
    margin-top: 3vh;
}

.tab1 .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    margin-left: 0vw;
}

.tab1 .content-table thead tr {
    background-color: var(--orange);
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.tab1 .content-table th, .tab1 .content-table td {
    padding: 2vh 2vw;
    text-transform: capitalize;
}

.tab1 .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tab1 .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f302;
}

.tab1 .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange);
}

.tab1 .content-table tbody tr:hover {
    font-weight: bold;
    color: var(--orange);
}

.tab1 .content-table tbody tr td a button {
    width: 5vw;
    padding: 4px;
    font-size: 0.9em;
    text-transform: capitalize;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* updatebus3.html */

.tab2 {
    margin-left: 250px;
    padding-top: 50px;
}

.tab2 table td {
    padding: 12px 15px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
}

.tab2 .update-btn input[type="submit"] {
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--orange);
    color: var(--black);
    cursor: pointer;
    user-select: none;
    margin-left: 20%;
}

.tab2 .update-btn input[type="submit"]:hover {
    background-color: var(--lightorange);
    color: var(--white);
}

/* deletebus.html */

.tab1 {
    margin-left: 20%;
    margin-top: 3%;
}

.delete-field, .update-field {
    margin-left: 30%;
    margin-top: 5%;
    font-size: 18px;
}

.delete-btn, .search-btn {
    margin-top: 2%;
}

.delete-btn input[type="submit"] {
    width: 6%;
    padding: 5px;
    margin-left: 30%;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* viewbusroutes.html */

.tab {
    margin-left: 20vw;
    margin-top: 3vh;
}

.tab .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    margin-left: 2vw;
}

.tab .content-table thead tr {
    background-color: var(--orange);
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.tab .content-table th, .tab .content-table td {
    padding: 2vh 3vw;
    text-transform: capitalize;
}

.tab .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tab .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f302;
}

.tab .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange);
}

.tab .content-table tbody tr:hover {
    font-weight: bold;
    color: var(--orange);
}

/* todaycollection.html */

.tab3 {
    margin-left: 20vw;
    margin-top: 3vh;
}

.tab3 .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    margin-left: 2vw;
}

.tab3 .content-table thead tr {
    background-color: var(--orange);
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.tab3 .content-table th, .tab3 .content-table td {
    padding: 2vh 3vw;
    text-transform: capitalize;
}

.tab3 .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tab3 .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f302;
}

.tab3 .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange);
}

.tab3 .content-table tbody tr:hover {
    font-weight: bold;
    color: var(--orange);
}

/* overallcollection.html */

.tab4 {
    margin-left: 17.5vw;
    margin-top: 3vh;
}

.tab4 .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    margin-left: 2vw;
}

.tab4 .content-table thead tr {
    background-color: var(--orange);
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.tab4 .content-table th, .tab4 .content-table td {
    padding: 2vh 3vw;
    text-transform: capitalize;
}

.tab4 .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tab4 .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f302;
}

.tab4 .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange);
}

.tab4 .content-table tbody tr:hover {
    font-weight: bold;
    color: var(--orange);
}

/* routesearch.html */

.routesearch-container {
    width: 30vw;
    height: 55vh;
    border: 1px solid var(--black);
    box-shadow: 10px 10px 5px 0px var(--darkgray);
    border-radius: 5px;
    margin-left: 33%;
}

.routesearch-container .form-heading {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    padding: 5px;
}

.routesearch-container .checkbox-container {
    margin: 3% 0% 3% 0%;
}

.routesearch-container .checkbox-container label {
    padding: 0px 40px 0px 40px;
    text-transform: capitalize;
    font-size: 16px;
}

.routesearch-container .routesearch .form-container form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}

.routesearch-container .routesearch .form-container {
    display: none;
}

.form-container .route-search-btn input[type="submit"] {
    width: 8vw;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--darkgray);
    color: var(--black);
    cursor: pointer;
    user-select: none;
}

.form-container .route-search-btn input[type="submit"]:hover {
    background-color: var(--lightgray);
    color: var(--black);
}

.form-container form input[type="text"] {
    width: 18vw;
    height: 3vh;
    padding: 10px;
    display: flex;
    border: 0.9px solid var(--black);
    border-radius: 5px;
    font-size: 16px;
}

.err-msg {
    padding-top: 8vh;
}

.err-msg .alert {
    margin-left: 43vw;
}

/* busdetails.html */

.busdetails-container {
    width: 100vw;
    height: 100vh;
}

.busdetails-container .header-container {
    width: 100vw;
    height: 10vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 520;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.busdetails-container .table-container .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.432);
    margin-left: 15vw;
}

.busdetails-container .table-container .content-table thead tr {
    background-color: var(--orange);
    color: var(--white);
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.busdetails-container .table-container .content-table th, .busdetails-container .table-container .content-table td {
    padding: 2vh 4vw;
    text-transform: capitalize;
}

.busdetails-container .table-container .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.busdetails-container .table-container .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f302;
}

.busdetails-container .table-container .content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--orange);
}

.busdetails-container .table-container .content-table tbody tr:hover {
    font-weight: bold;
    color: var(--orange);
}

.busdetails-container .table-container .content-table tbody tr td a button {
    width: 7vw;
    padding: 4px;
    font-size: 1em;
    text-transform: capitalize;
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* ticketbookingform.html */

.ticket-booking-container {
    width: 50vw;
    height: 95vh;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px var(--darkgray);
    overflow: hidden;
    margin-left: 25vw;
    margin-top: 2.5vh;
}

.ticket-booking-container .form-header {
    width: 50vw;
    height: 10vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 520;
    padding-top: 2vh;
    padding-bottom: 8vh;
}

.ticket-booking-container .ticket-booking-form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8vw;
    font-size: 1.1em;
}

.ticket-booking-container .ticket-booking-form label {
    margin-left: 3vw;
    text-transform: capitalize;
}

.ticket-booking-container .ticket-booking-form input[type="text"], .ticket-booking-container .ticket-booking-form input[type="number"] {
    width: 25vw;
    height: 4vh;
    display: flex;
    padding: 10px;
    border: 0.9px solid var(--black);
    border-radius: 5px;
    font-size: 0.9em;
    margin-bottom: 2.5vh;
    margin-left: 3vw;
}

.ticket-booking-container .ticket-booking-form .payment-method-container {
    width: 50vw;
    height: 10vh;
    margin-bottom: 3vh;
}

.ticket-booking-container .ticket-booking-form .payment-method-container label {
    padding-right: 2vw;
}

.ticket-booking-container .ticket-booking-form .ticket-booking-btn input[type="submit"] {
    width: 15vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--darkgreen);
    color: var(--white);
    cursor: pointer;
    user-select: none;
    margin-left: 8vw;
}

.ticket-booking-container .ticket-booking-form .ticket-booking-btn input[type="submit"]:hover {
    background-color: var(--darkgreen);
    color: var(--black);
}

/* ticketdetails.html */

.ticketdetail-container {
    width: 40vw;
    height: 90vh;
    border: 1px solid var(--black);
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px var(--darkgray);
    overflow: hidden;
    margin-left: 30vw;
    margin-top: 3vh;
}

.ticketdetail-container .heading-container {
    width: 40vw;
    height: 10vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 520;
    padding-top: 2vh;
    padding-bottom: 8vh;
}

.ticketdetail-container .tab5 {
    margin-left: 3.2vw;
    margin-top: 2vh;
}

.ticketdetail-container .tab5 table td {
    padding: 1.7vh 1.5vw;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 400;
}

.ticketdetail-container .download-btn a button {
    width: 10vw;
    height: 5vh;
    text-transform: capitalize;
    font-size: 0.9em;
    text-decoration: none;
    background-color: var(--red);
    cursor: pointer;
    color: var(--lightblue);
    font-weight: 550;
    border: none;
    border-radius: 3px;
    margin-top: 7vh;
    margin-left: 15vw;
}

.ticketdetail-container .download-btn a button:hover {
    background-color: var(--lightred);
}