{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
    <div class="add">
        <div class="header">
            <label>add route details</label>
        </div>
        <div class="btn-addbus">
            <a href="/mtc_bus_ticketing_app/busroutes">
                <button>add bus routes</button>
            </a>
            <a href="/mtc_bus_ticketing_app/routedetails">
                <button>add bus route details</button>
            </a>
        </div>
    </div>
{% endblock adminsite %} 