{% extends 'mtc_bus_ticketing_app/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <br>
    <br>
    <center>
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="heading">
                    <label>admin login</label>
                </div>
                <div class="txtbox">
                    <label>Enter UserName </label>
                    <input type="text" name="adminuser">
                    <br>
                    <br>
                    <label>Enter Password </label>
                    <input type="password" name="adminpassword">
                </div>
                <div class="adminlog">
                    <input type="submit" value="login">
                </div>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    </center>
{% endblock %}