{% extends 'mtc_bus_ticketing_app/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}

{% block content %}
    <div class="busdetails-container">
        <div class="header-container">
            <label>route details</label>
        </div>
        <div class="table-container">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>busroute no</th>
                        <th>source location</th>
                        <th>destination location</th>
                        <th>action</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for busroutedetails in busroutedetails %}
                        <tr>
                            <td>{{busroutedetails.BusRoute}}</td>
                            <td>{{busroutedetails.From}}</td>
                            <td>{{busroutedetails.To}}</td>
                            <td>
                                <a href="/mtc_bus_ticketing_app/busdetails_bookticket/{{busroutedetails.id}}">
                                    <button>book ticket</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}