{% extends 'mtc_bus_ticketing_app/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="loader">
        <div class="txt">
            mtc
        </div>
    </div>
    <div>
        <div class="btn">
                <a href="/mtc_bus_ticketing_app/adminlogin">
                    <button>admin</button>  
                </a>
                <a href="/mtc_bus_ticketing_app/routesearch">
                    <button>passenger</button>
                </a>
        </div>
    </div>
{% endblock %}