{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
    <div class="add">
        <div class="header">
            <label>overall collection</label>
        </div>
        <div class="tab4">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>busroute no</th>
                        <th>month</th>
                        <th>year</th>
                        <th>collection</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for overall_amount in overall_amount %}
                        <tr>
                            <td>{{overall_amount.Route_No}}</td>
                            <td>{{overall_amount.Booked_Date__month}}</td>
                            <td>{{overall_amount.Booked_Date__year}}</td>
                            <td>{{overall_amount.totalamt}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                    
            </table>
        </div>
    </div>
{% endblock adminsite %}