{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
    <div class="add">
        <div class="header">
            <label>add bus route details</label>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="busdetail">
                {{form.as_p}}
            </div>
            <div class="btn-sub">
                <input type="submit" value="Add Route">
                <a href="/mtc_bus_ticketing_app/addbus">
                    back
                </a>
            </div>
        </form>
    </div>
{% endblock adminsite %} 