{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
    <div class="add">
        <div class="header">
            <label>todey collection</label>
        </div>
        <div class="tab3">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>busroute no</th>
                        <th>collection</th>
                    </tr>
                </thead>
                
                {% for i in i %}
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
                {% endfor %}
                    
            </table>
        </div>
    </div>
{% endblock adminsite %}