{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
    <div class="add">
        <div class="header">
            <label>todey collection</label>
        </div>
        <div class="tab3">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>today date</th>
                        <th>busroute no</th>
                        <th>collection</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for total_amount in total_amount %}
                        <tr>
                            <td>{{today_date}}</td>
                            <td>{{total_amount.Route_No}}</td>
                            <td>{{total_amount.total}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                              
            </table>
        </div>
    </div>
{% endblock adminsite %}