{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
    <div class="add">
        <div class="header">
            <label>update route details</label>
        </div>
        <div class="tab1">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>BusRoute No</th>
                        <th>From</th>
                        <th>To</th>
                        <th>TicketAmount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    
                {% for busroutedetail in busroutedetail %}
                <tbody>
                    <tr>
                        <td>{{busroutedetail.BusRoute}}</td>
                        <td>{{busroutedetail.From}}</td>
                        <td>{{busroutedetail.To}}</td>
                        <td>{{busroutedetail.TicketAmount}}</td>
                        <td>
                            <a href="/mtc_bus_ticketing_app/updatebus2_update/{{busroutedetail.id}}">
                                <button>update</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                        
            </table>
        </div>
    </div>
{% endblock adminsite %} 