{% include 'mtc_bus_ticketing_app/adminhome.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block adminsite %}
<div class="add">
    <div class="header">
        <label>update route details</label>
    </div>
    <div class="tab2">
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>BusRoute No</td>
                    <td>
                        <input type="text" name="BusRoute" value="{{update.BusRoute}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>
                        <input type="text" name="From" value="{{update.From}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>
                        <input type="text" name="To" value="{{update.To}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>TicketAmount</td>
                    <td>
                        <input type="number" name="TicketAmount" value="{{update.TicketAmount}}">
                    </td>
                </tr>
                <tr>
                    <td>Duration in Minutes</td>
                    <td>
                        <input type="number" name="Duration_in_Minutes" value="{{update.Duration_in_Minutes}}">
                    </td>
                </tr>
            </table>
            <div class="update-btn">
                <input type="submit" value="update">
            </div>
        </form>
    </div>
</div>
{% endblock adminsite %}
    